body { 
background-color: #386c38; 
}

.ptext { 
	color: black; 
	text-align: center; 
	padding-top: 3px; 
	word-wrap: true;
	padding-left:6em; 
	margin-right: 6em;
	  
}

.h1nav {
  text-shadow: 3px 3px green;
  shadow-color: red;
  overflow: hidden; 
  margin-bottom: 0em; 
  margin-top: 0em; 
  font-family: Times New Roman; 
  font-size: 4em;
  color: black; 	
  background-color: #386c38; 
  text-align: center; 
  text-decoration: strong; 
  padding-bottom: 4px; 
} 

.h2a { 
	text-align: center; 
	color: black;
}

.links-hover:hover
{
    background-color: #386c38;
    padding-bottom: -2px; 
    border: 2px; 		
}

.s2 { 
color: black; 
font-size: 23px;
text-decoration: strong; 
}

.square-text 
{ 
  background-color: #585858;
  color: black;
  border: 5px solid black;
  width: 200px; 
  height: 70px; 	
  padding-top: 4px;
  padding-left: 10px; 
  padding-right: 8px; 
  text-align: center;
  display: inline-block;
  font-size: 14px;
  
}

a.square-links 
{ 
  background-color: #585858;
  color: black;
  border: 3px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0px 4px;

} 

a.square-links:hover
{
    background-color: #386c38;
}

.auto-style5 {
            color: #000000;
      font-size: 21px;
      word-wrap: true;
      padding-left:7em; 
      margin-right: 12em;
      margin-left: 12em;   
         
        }
  



