body { 
background-color: #386c38; 
}

.ptext { 
	color: black; 
	text-align: center; 
	padding-top: 3px; 
	word-wrap: true;
	padding-left:6em; 
	margin-right: 6em;
	  
}

.h1nav {
  text-shadow: 3px 3px green;
  shadow-color: red;
  overflow: hidden; 
  margin-bottom: 0em; 
  margin-top: 0em; 
  font-family: Times New Roman; 
  font-size: 4em;
  color: black; 	
  background-color: #386c38; 
  text-align: center; 
  text-decoration: strong; 
  padding-bottom: 4px; 
} 

.h2a { 
	text-align: center; 
	color: black;
}

.links-hover:hover
{
    background-color: #386c38;
    padding-bottom: -2px; 
    border: 2px; 		
}

.s2 { 
color: black; 
font-size: 23px;
text-decoration: strong; 
}

.square-text 
{ 
  background-color: #585858;
  color: black;
  border: 5px solid black;
  width: 200px; 
  height: 70px; 	
  padding-top: 4px;
  padding-left: 10px; 
  padding-right: 8px; 
  text-align: center;
  display: inline-block;
  font-size: 14px;
  
}

a.square-links 
{ 
  background-color: #585858;
  color: black;
  border: 3px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0px 4px;

} 

a.square-links:hover
{
    background-color: #386c38;
}

.auto-style5 {
            color: #000000;
      font-size: 21px;
      word-wrap: true;
      padding-left:7em; 
      margin-right: 12em;
      margin-left: 12em;   
         
        }
  
img.img3 { 

 height: 400px; 
 width: 400px; 
 margin-right: 22em;
 margin-top: 5em;  
 border: solid black; 
 border: 5px solid black ;   
 align: center; 
}

.auto-style4 {
      color: #000000;
      font-size: 21px;
      word-wrap: true;
      margin-right: -6em;  
      padding-left:6px;    
      }


 table.t3 { 
position: relative; 
margin-top: 8em; 
margin-right: 17em;  
padding: 0px 0px 0px 60px;

}


.img1 { 

 height: 500px; 
 width: 500px; 
 position: relative; 
 margin-top: 5em;
 margin-bottom: 5em;
 left: 5em;
 border: solid black; 
 border: 5px solid black ;  
 border-spacing: 5em;
}

.ul1 {
      color: #000000;
      font-size: 21px;
      word-wrap: true;
      }

u.ulist { 
      color: #000000;
      font-size: 21px;
      word-wrap: true;    
        } 


button.square-links 
{ 
  background-color: #585858;
  color: black;
  border: 3px solid black;
  padding: 8px 14px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
    box-shadow: 0px 2px;

}

button.square-links:hover
{
    background-color: #386c38;
}

input[type=text] {
  border: 2px solid black;
  border-radius: 6px;
  width: 80%;
  padding: 12px 5px;
 
} 

.hr1 { 
  color: black; 
  border: 7px dotted; 
  border-bottom: none;
  margin: 50px auto 50px auto;
  width: 40%;

 }
